.button{
  border-radius: 12px;
  background-color: $button_color;
  color: $button_text_color;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border: none;
  &--default{
    background: $hint_color;
    color: $text_color;
  }
}
.button-group{
  display: grid;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  grid-template-columns: 1fr 1fr;
  &--1{
    grid-template-columns: 1fr;
  }
  .quality-control{
    display: flex;
    align-items: center;
    gap: 2px;
    &__value{
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__value,
    &__button{
      width: 44px;
      height: 44px;
      svg{
        width: 20px;
        height: 20px;
        fill: $button_text_color;
        path{
            stroke: $button_text_color;
        }
      }
    }
  }
  &__button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: $button_color;
    color:$button_text_color;
    border: none;
    width: 100%;
    height:44px;
    font-size: 13px;
    font-weight: bold;
  }
}
