.upload-images{
  padding: 10px;
  &__wrapper{}
  &__list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  &__item{
    width: 100%;
    height: 100px;
    border-radius: 8px;
    position: relative;
    img{
      border-radius: 8px;
      width: 100%;
      height: 100%;
    }
  }
  &__add-button{
    background: transparent;
    border: none;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $text_color;
    margin: 10px 0;
    .svg-icon{
      width: 80px;
      height: 80px;
    }
    span{
      display: block;
    }
  }
  &__item-delete{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    width: 20px;
    height: 20px;
    border:none;
    border-radius: 5px;
    background: #ff4242;
    color: #fff;
    line-height: 1;
    font-weight: bold;
  }
}