*{
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
}
body{

  background-color:$secondary_bg_color;
  color:$text_color;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 14px;
}

a{
  text-decoration: none;
  color:$link_color;
}
p{
  margin: 0 0 5px 0;
}
.display-none{
  display: none!important;
}
.nowrap{

}
.svg-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg{
    max-width: 100%;
  }
}
img{
  width: 100%;
  object-fit: cover;
}
.wrapper{
  padding: 10px;
  min-height: 100vh;
}
.link{
  text-decoration: underline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 154px;
  display: inline-flex;
  color: $link_color;
  cursor: pointer;
  &:hover{
    text-decoration: none;
  }
}