@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-text-color);
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--tg-theme-link-color);
}

p {
  margin: 0 0 5px 0;
}

.display-none {
  display: none !important;
}

.svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
}
.svg-icon div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg-icon svg {
  max-width: 100%;
}

img {
  width: 100%;
  object-fit: cover;
}

.wrapper {
  padding: 10px 10px 60px 10px;
  min-height: 100vh;
}

.link {
  text-decoration: underline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 154px;
  display: inline-flex;
  color: var(--tg-theme-link-color);
  cursor: pointer;
}
.link:hover {
  text-decoration: none;
}

.main-button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background: blue;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  left: 0;
}

.back-button {
  z-index: 1000;
  width: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background: blue;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
}

.d-none {
  display: none !important;
}

:root {
  --hue: 223;
  --bg: hsl(var(--hue),10%,90%);
  --fg: hsl(var(--hue),10%,10%);
  --primary: hsl(var(--hue),90%,55%);
  --trans-dur: 0.3s;
  font-size: 22px;
}

.preloader {
  display: flex;
  text-align: center;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background: var(--tg-theme-bg-color);
}

.preloader__text {
  position: relative;
  height: 1.5em;
  display: block;
  max-width: 360px;
  width: 100%;
}

.preloader__msg {
  animation: msg 0.3s 13.7s linear forwards;
  position: absolute;
  width: 100%;
}

.preloader__msg--last {
  animation-direction: reverse;
  animation-delay: 30s;
  visibility: hidden;
}

.cart {
  display: block;
  margin: 0 auto 1.5em auto;
  width: 8em;
  height: 8em;
}

.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
  animation: cartLines 2s ease-in-out infinite;
}

.cart__lines {
  stroke: var(--primary);
}

.cart__top {
  animation-name: cartTop;
}

.cart__wheel1 {
  animation-name: cartWheel1;
  transform: rotate(-0.25turn);
  transform-origin: 43px 111px;
}

.cart__wheel2 {
  animation-name: cartWheel2;
  transform: rotate(0.25turn);
  transform-origin: 102px 111px;
}

.cart__wheel-stroke {
  animation-name: cartWheelStroke;
}

.cart__track {
  stroke: hsla(var(--hue), 10%, 10%, 0.1);
  transition: stroke var(--trans-dur);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),10%,10%);
    --fg: hsl(var(--hue),10%,90%);
  }
  .cart__track {
    stroke: hsla(var(--hue), 10%, 90%, 0.1);
  }
}
/* Animations */
@keyframes msg {
  from {
    opacity: 1;
    visibility: visible;
  }
  99.9% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes cartLines {
  from, to {
    opacity: 0;
  }
  8%, 92% {
    opacity: 1;
  }
}
@keyframes cartTop {
  from {
    stroke-dashoffset: -338;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 338;
  }
}
@keyframes cartWheel1 {
  from {
    transform: rotate(-0.25turn);
  }
  to {
    transform: rotate(2.75turn);
  }
}
@keyframes cartWheel2 {
  from {
    transform: rotate(0.25turn);
  }
  to {
    transform: rotate(3.25turn);
  }
}
@keyframes cartWheelStroke {
  from, to {
    stroke-dashoffset: 81.68;
  }
  50% {
    stroke-dashoffset: 40.84;
  }
}
.request-form, .screen, .screen > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-block__title {
  font-size: 14px;
  font-weight: bold;
  color: var(--tg-theme-text-color);
}

.input-container {
  display: flex;
  width: 100%;
}
.input-container--row {
  padding: 0 8px;
  align-items: center;
  justify-content: space-between;
  height: 35px;
}

.input, .select {
  width: 100%;
  position: relative;
  font-size: 14px;
  letter-spacing: 0.01rem;
  padding: 0 8px;
  background: var(--tg-theme-bg-color);
  border: none;
  line-height: 25px;
  height: 35px;
  outline: none;
  color: var(--tg-theme-text-color);
}

.textarea {
  width: 100%;
  position: relative;
  font-size: 14px;
  padding: 8px;
  background: var(--tg-theme-bg-color);
  border: none;
  line-height: 25px;
  outline: none;
  color: var(--tg-theme-text-color);
  min-height: 100px;
  resize: none;
}

.form {
  border-radius: 8px;
  background-color: var(--tg-theme-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.form > * {
  border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
}
.form > *:first-child input, .form > *:first-child textarea {
  color: var(--tg-theme-text-color);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.form > *:last-child {
  border-bottom: none;
}
.form > *:last-child input, .form > *:last-child textarea {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.form .form-control {
  border: none !important;
  width: 100% !important;
  background-color: var(--tg-theme-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
}

.react-tel-input .flag-dropdown {
  left: 1px;
  top: 1px !important;
  height: calc(100% - 2px);
  background-color: transparent !important;
  color: var(--tg-theme-text-color) !important;
  border: none !important;
  border-radius: 6px 0 0 6px;
}
.react-tel-input .flag-dropdown.open {
  background-color: var(--tg-theme-bg-color) !important;
}

.react-tel-input .selected-flag {
  border-radius: 6px 0 0 6px;
}

.react-tel-input .country-list {
  background-color: var(--tg-theme-secondary-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
}

.react-tel-input .country-list .country.highlight,
.react-tel-input .flag-dropdown.open .selected-flag,
.react-tel-input .country-list .country:hover {
  background-color: var(--tg-theme-bg-color) !important;
  color: var(--tg-theme-text-color) !important;
}

.radio-group {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}
.radio-group__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.radio-group__value {
  color: var(--tg-theme-button-color);
}
.radio-group > *:first-child > span {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.radio-group > *:last-child > span {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: none;
}
.radio-group--horizontal {
  flex-direction: row;
}
.radio-group--horizontal > * {
  width: 50%;
}
.radio-group--horizontal-3 > * {
  width: 33%;
}
.radio-group--horizontal-4 > * {
  width: 25%;
}
.radio-group--horizontal > *:first-child > span {
  border-radius: 8px 0 0 8px;
}
.radio-group--horizontal > *:last-child > span {
  border-radius: 0 8px 8px 0;
  border-bottom: none;
}
.radio-group--horizontal > * > span {
  text-align: center;
  justify-content: center;
}
.radio-group * > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-group * > span {
  display: flex;
  padding: 10px 10px;
  font-size: 13px;
  font-weight: 500;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
  border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
}
.radio-group * > span:last-child {
  border: none;
}
.radio-group * > input:not(:disabled):active + span {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-hint-color);
}
.radio-group * > input:checked + span {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}
.radio-group * > input:checked + span .radio-group__value {
  color: var(--tg-theme-button-text-color);
}
.radio-group * > input:disabled + span {
  background-color: var(--tg-theme-secondary-bg-color);
  color: var(--tg-theme-hint-color);
}
.radio-group * > input:disabled + span .radio-group__value {
  color: var(--tg-theme-hint-color);
}

.form .form-control.invalid {
  border: 1px solid red !important;
}

.quality-control {
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  height: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}
.quality-control__button {
  color: var(--tg-theme-text-color);
  border: none;
  background-color: transparent;
  height: 30px;
  width: 30px !important;
  padding: 0 !important;
}
.quality-control__button svg {
  width: 12px;
  height: 12px;
}
.quality-control__button svg * {
  fill: var(--tg-theme-text-color);
  stroke: var(--tg-theme-text-color);
}
.quality-control__value {
  text-align: center;
  width: 25px;
  font-size: 11px;
  padding: 0 5px;
}

.button {
  border-radius: 12px;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border: none;
}
.button--default {
  background: var(--tg-theme-hint-color);
  color: var(--tg-theme-text-color);
}
.button--lg {
  min-height: 47px;
  font-size: 16px;
}

.button-group {
  display: grid;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  grid-template-columns: 1fr 1fr;
}
.button-group--1 {
  grid-template-columns: 1fr;
}
.button-group .quality-control {
  display: flex;
  align-items: center;
  gap: 2px;
}
.button-group .quality-control__value {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-group .quality-control__value, .button-group .quality-control__button {
  width: 44px;
  height: 44px;
}
.button-group .quality-control__value svg, .button-group .quality-control__button svg {
  width: 20px;
  height: 20px;
  fill: var(--tg-theme-button-text-color);
}
.button-group .quality-control__value svg path, .button-group .quality-control__button svg path {
  stroke: var(--tg-theme-button-text-color);
}
.button-group__button {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  border: none;
  width: 100%;
  height: 44px;
  font-size: 13px;
  font-weight: bold;
}

.bottom-button {
  position: fixed;
  bottom: 0;
  left: 0;
  border-radius: 0;
  height: 45px;
}

.upload-images {
  padding: 10px;
}
.upload-images__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.upload-images__item {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  position: relative;
}
.upload-images__item img {
  border-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.upload-images__add-button {
  background: transparent;
  border: none;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--tg-theme-text-color);
  margin: 10px 0;
}
.upload-images__add-button .svg-icon {
  width: 80px;
  height: 80px;
}
.upload-images__add-button .svg-icon > div {
  width: 80px;
  height: 80px;
}
.upload-images__add-button .svg-icon svg {
  width: 80px;
  height: 80px;
}
.upload-images__add-button span {
  display: block;
}
.upload-images__item-delete {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background: #ff4242;
  color: #fff;
  line-height: 1;
  font-weight: bold;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product__item {
  padding: 5px;
  border-radius: 8px;
  background: var(--tg-theme-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 15px;
}
.product__item-image img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.product__item-property span, .product__item-property div {
  display: inline-flex;
}
.product__item-property .link {
  text-decoration: underline;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 154px;
  width: 100%;
  display: inline-flex;
  color: var(--tg-theme-link-color);
}

.order {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 15px;
}

.order-info {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}
.order-info > *:first-child {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.order-info > *:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: none;
}
.order-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tg-theme-bg-color);
  padding: 10px 10px;
  font-size: 14px;
  color: var(--tg-theme-text-color);
  border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
}
.order-info__item span:last-child {
  color: var(--tg-theme-button-color);
  font-weight: bold;
}

.orders {
  color: var(--tg-theme-text-color);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 20px;
}
.orders__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-card {
  display: flex;
  flex-direction: column;
  background-color: var(--tg-theme-bg-color);
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  font-size: 14px;
}
.order-card > * {
  padding: 10px;
  border-bottom: 1px solid var(--tg-theme-secondary-bg-color);
}
.order-card > *:last-child {
  border-bottom: none;
}
.order-card__header, .order-card__footer {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-card__body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.order-card__info {
  font-size: 13px;
}
.order-card__info ul {
  list-style: none;
  padding: 0;
}
.order-card__info--hint {
  color: var(--tg-theme-hint-color);
}
.order-card__price {
  color: var(--tg-theme-button-color);
}

/*# sourceMappingURL=style.css.map */
